# Telco customer Churn Prediction

### Objective: Predict Churn of Customers in Buisiness data

### Necessary Libraries

In [1]:
#Data Manipulation
import pandas as pd
import numpy as np

#Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

#Model Selection and Training
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

#Model Evaluation
from sklearn.metrics import classification_report,confusion_matrix,roc_curve,roc_auc_score

#Ignore Warnings
import warnings
warnings.filterwarnings('ignore')

### Data Loading

In [2]:
tcc = pd.read_csv('/mnt/d/Self_Study/DEPI/01JT8K9VHKHEY6WFGZ6043FKTF.csv')

### Exploring

In [3]:
tcc.head()

,CustomerID,Gender,Age,SubscriptionLengthMonths,MonthlySpend,TotalSpend,SupportCalls,ContractType,PaymentMethod,IsChurned
0,6e36efe4-8b25-4fbf-a42a-49e373b85999,Male,34,5,36.60,183.00,6,One year,Bank Transfer,0
1,d9934302-f9b0-41e7-931b-e791f18b6503,Female,48,39,16.84,656.76,0,Two year,Bank Transfer,1
2,70861ec9-05f6-4a44-b910-522dc6883d9c,Female,75,7,37.49,262.43,1,Two year,Electronic Check,0
3,b02604c4-bc6e-4219-8dcb-0074d1e53be4,Male,60,48,90.84,4360.32,3,Month-to-month,Electronic Check,1
4,c818dd79-ca93-4208-8fed-e8654aaa52a5,Female,73,44,48.86,2149.84,8,One year,Credit Card,0

In [4]:
tcc.shape

(1500, 10)

### Preprocessing

### Model Selection and Training

### Evaluation